<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Profile</title>
    </head>
    <body>
        <h1>Profile</h1>
        <div>Name:{{ request.user.get_full_name }}</div>
        <div>Email: {{ request.user.email }}</div>
        <div>Username: {{ request.user.username }}</div>

        <div class="btn-container">
            <span>Click here to logout</span>
            <a href="/accounts/logout/">
                <button>Logout</button>
            </a>
        </div>
    </body>
</html>
