<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Hello from media</h1>
        <form method="POST" enctype="multipart/form-data">
            <!-- csrf token  -->
            {% csrf_token %}
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
            <br />
            <br />

            <label for="test-file">File</label>
            <input type="file" name="test-file" id="test-file" />
            <br />
            <br />

            <button type="submit">Submit</button>
        </form>
    </body>
</html>
